

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="#" class="simple-text logo-mini">
            PI
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="#" class="simple-text logo-normal">
            Explanable AI
          </a>
          
        </div>
        <div class="feature">
          <a href="/apps/templates/home/train.html" class="text-center text-white">Train dataset</a>
          <br>
          <a href="/apps/templates/home/capture.html" class="text-center text-white">Capture data real</a>
        </div>
      </div>
    </div>
